/*
    1. Posicionamiento --> static, absolute, relative, fixed
    2. Modelo de caja (Box model) --> margin, border, padding, content
    3. Tipografía --> tipos, tamaños de fuente, etc
    4. Estilos visuales --> box-shadow, border-radius, gradient, etc
    5. Otros --> reglas CSS y más
*/

:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 114.5px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color:var(--black);
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    min-width: 320px;
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .background-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-currency-table,
.main-commission-table{
    width: 70%;
    min-width: 200px;
    max-width: 500px;
    height: 260px;
    margin: 0 auto 40px auto;
    /* margin: 0 auto; */
    font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.main-commission-table .commission-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}
.currency-table--container,
.commission-table--container{
    width: 90%;
    min-height: 160px;
    max-width: 300px;
    height: 200px;
    margin: 0 auto;
}
.currency-table--container table,
.commission-table--container table{
    width: 100%;
    height: 100%;
}
.currency-table--container td,
.commission-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    padding-left: 12px;
    text-align: left;
    color: #B5B0AC;
    background-color: var(--just-white);
}
.table__top-left{
    border-top-left-radius: 8px;
}
.table__top-right{
    border-top-right-radius: 8px;
}
.table__bottom-left{
    border-bottom-left-radius: 8px;
}
.table__buttom-right{
    border-bottom-right-radius: 8px;
}
.currency-table--container .table__right,
.commission-table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    text-align: center;
    color: #757575;
}
.trending-down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.trending-up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table--date{
    margin: 16px auto 0 auto ;
    width: 190px;
    height: 30px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.commission-table--date {
    margin: 16px auto 0 auto ;
    width: 190px;
    height: 30px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.currency-table--date p,
.commission-table--date p {
    padding: 8px;
    font-size: 1.2rem;
    color: var(--warm-black);
}
.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    /* max-width: 900px; */
    padding: 20px 10px ;
    background-color: var(--black);
}
.main-product-detail .product-detail--batata-logo{
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);
    width: 40px;
    height: 25px;
    background-image: url('./assets/icons/batata.svg');
}
.product-detail--title{
    text-align: center;
    width: 90%;
    min-width: 288px;
    margin: 40px auto 32px auto;
}
.product-detail--title h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    padding-bottom: 24px;
    color: var(--just-white);
}
.product-detail--title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
}
.product-cards--container{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    margin: 0 auto;
}
.product-detail--card{
    margin-bottom: 16px;
    padding: 16px;
    background-color: var(--warm-black);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.product--card-title{
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--just-white);
    padding-bottom: 10px;
}
.product--card-body{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
}
.product-detail--card span{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.clock {
    background-image: url('./assets/icons/clock.svg');
}
.eye{
    background-image: url('./assets/icons/eye.svg');
}
.dollar-sign{
    background-image: url('./assets/icons/dollar-sign.svg');
}
.check-circle{
    background-image: url('./assets/icons/check-circle.svg');
}
.bitcoin-img-container{
    width:100%;
    min-width:320px;
    height:50vh;
    background-image:url("./assets/img/bitcoinbaby2x.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top:60px;
    font-size:2.4rem;
    font-weight:bold;
    line-height:2.6rem;
    color:var(--just-white)
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding: 64px 10px;
    color: var(--warm-black);
}
.plans--title{
    text-align: center;
    width: 90%;
    min-width: 288px;
    margin: 0 auto;
}
.plans--title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    padding-bottom: 24px;
}
.plans--title p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 34px;
}
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}
.plans-container--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
    border-radius: 10px;
}
.plans-container--card{
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 16px 10px 0px 10px;
    text-align: center;
}
.plans-container--card:first-of-type{
    margin: 16px 10px 0px 50px;
}
.plans-container--card:last-of-type{
    margin: 16px 50px 0px 10px;
}
.plans--card{
    position: absolute;
    top: -16px;
    left: calc(50% - 60px);
    width: 120px;
    height: 32px;
    min-width: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 15px;
    padding: 8px;
    border-radius: 8px;
    color: var(--just-white);
    background-color: var(--black);
    font-family: "Inter", sans-serif;
}
.recommended{
    background-color: var(--bitcoin-orange);
}
.basic{
    background-color: var(--secondary-blue);
}
.duo{
    background-color: var(--warm-black);
}
.plan-card--title{
    padding-top: 30px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--price{
    padding-top: 5px;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.2rem;
    font-family: "Inter", sans-serif;
    color: var(--black);
}
.plan-card--price span{
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    top: 66px;
    left: calc(50% - 45px);
}
.price-duo span{
    position: absolute;
    top: 66px;
    left: calc(50% - 55px);
}
.plan-card--saving{
    font-size:1.2rem;
    margin: 16px 0px;
    color:#757575;
    font-family: "Inter", sans-serif;
}
.plan-card--ca{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 80px);
    width: 160px;
    height: 50px;
    /* min-width: 150px; */
    padding: 12px 16px;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    color: var(--warm-black);
    border: 2px solid var(--bitcoin-orange);
    background-color: var(--off-white);
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.plan-card--ca span{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('./assets/icons/orange-right-arrow.svg');
}



/* @media (min-width: 768px) {
    .plans-container--slider::-webkit-scrollbar {
      display: none;
    }
  } */